@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color: #000000;
  --background-start-rgb: #ab1212;
  --background-mid-rgb: #530404;
  --background-end-rgb: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: #ab1212;
    --background-mid-rgb: #530404;
    --background-end-rgb: #000000;
  }
}

body {
  color: var(--font-color);
  background: radial-gradient(
      circle,
      var(--background-start-rgb) 2%,
      var(--background-mid-rgb) 45%,
      var(--background-end-rgb) 90%
    );
}
